.testimonial {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  color: #3d5a80;  
  right: 0;
  left: 0;
  margin: auto;
  position: fixed;
  bottom: 0;

}
.testimonial-slide {
  padding: 40px 20px;
}
.testimonial_box{
  width: 100%;
  height: auto;
}
.testimonial_box-top {
  background-color: #e0fbfc;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(152, 193, 217, 0.493);
}
.testimonial_box-icon {
  padding: 5px 0;
}
.checked--testimonial{
  color: orange;
}
.testimonial_box-text {
  padding: 10px 0;
}
.testimonial_box-text p {
  color: #293241;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
  font-family: 'Courier New', Courier, monospace;
}
.testimonial_box-name {
  padding-top: 10px;
}
.testimonial_box-name h4 {
  font-size: 14px;
  line-height: 25px;
  color: #293241;
  margin-bottom: 0;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
}
.testimonial_box-job p {
  color: #293241;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0;
}
/"--btn nav sqmping --*/
.btn-kiri-atas{
font-size: 12pt;
padding: 5px;
position: fixed;
top:5px;
Left: 5px;
}
.btn-kanan-atas{
font-size: 12pt;
padding: 5px;
position: fixed;
top:5px;
right: 5px;
transform:rotate(90deg)
}
.btn-kanan-bawah{
font-size: 12pt;
padding: 5px;
position: fixed;
bottom:5px;
right: 5px;
}
.btn-kiri-bawah{
font-size: 12pt;
padding: 5px;
position: fixed;
bottom:5px;
left: 5px;
transform:rotate(180deg)
}

/*--btn nav--*/
.nav--icons {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px #ccc dashed;
  background-color: #fff;
  padding-top: 5px;
}
.nav--icons img{
  width: 30px;
  height: auto;
right:0;
left:0;
margin:auto;
}
.nav--icons ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.nav--icons ul li a {
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
  line-height: 1;
  vertical-align: middle;
  display: flex;
  align-items: center;
  border-radius: 3em;
  padding: 0.75em 1.25em;
  transition: 0.6s ease-in-out;
}
.nav--icons ul li a span {
  display: inline-block;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  padding-left: 0.5em;
  transform: translate3d(-0.5em, 0, 0);
  transition: opacity 0.6s, max-width 0.6s, transform 0.6s;
  transition-timing-function: ease-in-out;
}
.nav--icons ul li a:hover,
.nav--icons ul li a.is-active {
  color: #000;
  background-color: rgba(0, 0, 0, 0.096);
}
.nav--icons ul li a:hover span,
.nav--icons ul li a.is-active span {
  opacity: 1;
  max-width: 40px;
  transform: translate3d(0, 0, 0);
}
